/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

%
*= require_tree .
*= require_self
*/

// @import "./components/input.scss";
// @import "./components/modal.scss";

@keyframes intensifies {

  @for $i from 0 through 100 {
    
    #{$i * 1%} {

      // Rotate between left and right
      $sign: -1;
      @if $i % 2 == 0 { 
        $sign: 1;
      }

      // Rotation capped at 8
      $rotation: 8;
      @if $i < 10 { 
        $rotation: $i;
      }



      // Final frame is set back to 0
      @if $i != 100 { 
        transform:  translate($sign * random($i + 1) * 1px, $sign * random($i + 1) * 1px) scale(1 + $i / 50);
      } @else {

        transform: translate(0, 0) rotate(0deg);
      }
      
    } 
  }

}

.intensifies {
  animation-timing-function: ease-out;
  transform-origin: bottom center;
  animation-name: intensifies;
  animation-duration: 5s;
}